html,body{
    height:100%;
    width:100%;
}
body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(238, 220, 199);

}
#calculator{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
    
}
#display{
    width:100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: rgb(72, 64, 64);
}
button{
    width:70px;
    height:70px;
    border-radius: 50px;
    border:none;
    background-color:rgb(224, 94, 38);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer;
    

}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button:hover{
    background-color:rgb(240, 154, 117);
}
button:active{
    background-color: hsl(0, 78%, 79%);
}
.no{
    background-color: black;
}
.bright{
    background-color:rgb(249, 184, 79) ;
}